$spread: 100%;

.block{
    padding: 10px;
    display: flex;
    flex-direction: column;
    img{
        width: $spread;
        height: auto;
    }
}

.DiscriptionBlock{
    flex-grow: 1;
    flex-shrink: 2;
    background-color: teal;
    border-bottom: solid ;
    border-radius: 0px 0px 20px 20px;
    flex-basis: 100px;
    height: fit-content;

}