.SiPackBlock{
    flex-grow: 1;
    flex-shrink: 2;
    background-color: teal;
    margin: 0 10px 10px 10px;
    border-radius: 5px;
    flex-basis: 100px;
}
.Highlited{
    background-color: red !important;
    flex-grow: 3;
}
